@{
    ViewBag.Title = "Home Page";
}

<script>
    function renderReslut() {       
        var htmlText = myCodeMirror_1.getValue();
        var cssText = myCodeMirror.getValue();
        if (!htmlText)
            return;
        var ifr = document.createElement("iframe");
        ifr.height = '100%';
        ifr.width = '100%';
        ifr.setAttribute("frameborder", "0");
        ifr.setAttribute("id", "iframeResult");
        ifr.setAttribute("name", "iframeResult");
        var wrapper = document.getElementById("wrapper-actual");
        while (wrapper.firstChild) {
            wrapper.removeChild(wrapper.firstChild);
        }

        wrapper.appendChild(ifr);
        var ifrw = (ifr.contentWindow) ? ifr.contentWindow : (ifr.contentDocument.document) ? ifr.contentDocument.document : ifr.contentDocument;
        ifrw.document.open();
        ifrw.document.write(htmlText);

        if (!cssText) {
            ifrw.document.close();
            return;
        }
        var style = ifrw.document.createElement("style");
        style.innerHTML = cssText;
        ifrw.document.head.appendChild(style);
        ifrw.document.close();
    }

    document.addEventListener("DOMContentLoaded", renderReslut);

</script>
<script src="~/Scripts/codemirror.js"></script>
<link href="~/Content/codemirror.css" rel="stylesheet">
<script src="~/Scripts/xml.js"></script>
<script src="~/Scripts/css.js"></script>
<script src="~/Scripts/mirror.js"></script>
<script src="~/Scripts/autorefresh.js"></script>


<div id="mySidenav" class="sidenav">
    <a id="close" href="javascript:void(0)" class="closebtn">&times;</a>
    <h1>Завдання:</h1>
    @for (int i = 0; i < ViewBag.Tasks.Count; i++)
    {
        <a href='@Url.Action("Index", "Home", new { taskId = ViewBag.Tasks[i].Id })'>@ViewBag.Tasks[i].Name</a>
    }
</div>
<div class="container-fluid" id="container">
    <div class="row sp">
        <div class="na col-md-2">
            <span id="spa">&#9776; Завдання</span>
        </div>
        <div class="col-md-10">
            <button class="btn btn-success pull-right" onclick="location.href='/Admin'">
                Редагувати                
            </button>
        </div>
    </div>

    <div class="row task" id="task">
        <div class="col-md-2">
            <p>Інструкції</p>
            <p>
                @ViewBag.CurrentTask.Description
            </p>
        </div>

        <div class="ma col-md-5 text-center">          
            @using (Html.BeginForm("Verify", "Home", new { taskId = ViewBag.CurrentTask.Id }, FormMethod.Post))
            {
                <div id="tab">
                    <ul class="nav nav-pills">
                        <li class="active">
                            <a href="#html" data-toggle="tab">index.html</a>
                        </li>
                        <li>
                            <a href="#css" data-toggle="tab">style.css</a>
                        </li>
                    </ul>

                    <div class="tab-content clearfix">
                        <div class="tab-pane active" id="html">

                            <textarea name="htmlCode" id="htmlText" cols="10" rows="10" onchange="renderReslut()" onkeyup="renderReslut()">@if (ViewBag.PreviousHtmlCode != null){@ViewBag.PreviousHtmlCode}</textarea>
                        </div>
                        <div class="tab-pane" id="css">
                            <textarea name="cssCode" id="cssText" cols="30" rows="10" onchange="renderReslut()" onkeyup="renderReslut()">@if (ViewBag.PreviousCssCode != null){@ViewBag.PreviousCssCode}</textarea>                   
                        </div>
                    </div>
                </div>
                <div style="background-color:white">
                    <div class="row">
                        <div class="col-md-4 col-lg-4">                            
                            <button type="submit" id="sub" class="panel-body btn btn-primary btn-lg" style="width:100%;border-radius:0;">
                                <span class="glyphicon glyphicon-ok"></span> Перевірити
                            </button>
                        </div>
                        <div class="col-md-4 col-lg-4 text-center" style="margin-top:15px;margin-bottom:15px">                            
                            @if (ViewBag.TaskResult == "Correct")
                            {
                                <span class="text-success">Правильно!</span>
                            }
                            @if (ViewBag.TaskResult == "Incorrect")
                            {
                                <span class="text-danger">Неправильно(</span>
                            }                            
                        </div>
                        <div class="col-md-4 col-lg-4">                  
                            @if (ViewBag.TaskResult == "Correct")
                            {
                                <button type="button" class="panel-body btn btn-info btn-lg" style="width:100%;border-radius:0;" onclick="location.href='@Url.Action("NextTask", "Home", new { taskId = ViewBag.CurrentTask.Id })'">
                                    Далі <span class="glyphicon glyphicon-circle-arrow-right"></span> 
                                </button>
                            }
                            else
                            {
                                <button type="button" class="panel-body btn btn-info btn-lg pull-right" style="width:100%;border-radius:0;" onclick="location.href='@Url.Action("NextTask", "Home", new { taskId = ViewBag.CurrentTask.Id })'">
                                    Пропуск <span class="glyphicon glyphicon-circle-arrow-right"></span>
                                </button>
                            }
                        </div>
                    </div>
                </div>               
            }
        </div>

        <div class="col-md-5">
            <div id="tab">
                <ul class="nav nav-pills">
                    <li class="active">
                        <a href="#actual" data-toggle="tab">Результат</a>
                    </li>                    
                </ul>
                <div class="tab-content clearfix" id="wrapper-actual" style="height:510px;background-color:white;"> </div>
            </div>
        </div>
    </div>    
</div>

<style>
    .CodeMirror {
        text-align: left;
        margin-bottom: 5px;
        height: 450px;
    }
</style>
<script>

    var myCodeMirror = CodeMirror.fromTextArea(document.getElementById('cssText'), {
        lineNumbers: true,               
        matchBrackets: true,             
        mode: 'css', 
        htmlMode: true,
        indentUnit: 4,
        autoRefresh: true
    }); 


    var myCodeMirror_1 = CodeMirror.fromTextArea(document.getElementById('htmlText'), {
        lineNumbers: true,               
        matchBrackets: true,             
        mode: 'xml', 
        htmlMode: true,
        indentUnit: 4       
    });
    
    myCodeMirror_1.on('change', function () {
        renderReslut();    
    });
    myCodeMirror.on('change', function () {
        renderReslut();     
    });
 
</script>

@section scripts{
    @Scripts.Render("~/bundles/jquery")
}